<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvvQ_fwN1pGJvVd2e43-OVhlKcXgDL5zI</string>
	<key>GCM_SENDER_ID</key>
	<string>981446491450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lawyerAppGoogleSolutions.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lawyer-app-326e4</string>
	<key>STORAGE_BUCKET</key>
	<string>lawyer-app-326e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981446491450:ios:2fe6fb2cdcd2eadaf2e403</string>
</dict>
</plist>